<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successful</title>
</head>
<body>
    <div id="print">
        Thank You <%= Name %> for booking!
        Your Stay from <%= cid %> to <%= cod %> is confirmed
        Room type <%= type %> 
        Room No. <%= rn %> 
    </div>
    <br>
    <button onclick="window.print()">Print</button>
</body>
</html>